{{ define "main" }}
  {{ range .Pages.ByDate.Reverse }}
    <article class="tease">
      <h2 class="teasetitle"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <div class="date">{{ .Date.Format "January 2, 2006" }}</div>

      {{ with .Summary }}
        <div class="summary">{{ . }}</div>
      {{ else }}
        <div class="summary">{{ .Plain | truncate 260 }}</div>
      {{ end }}

      <a class="more" href="{{ .RelPermalink }}">Read more...</a>
    </article>
  {{ end }}
{{ end }}
